[submodule "snippets"]
	path = snippets
	url = git://github.com/scrooloose/snipmate-snippets.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/haml"]
	path = bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/indent_object"]
	path = bundle/indent_object
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/markdown_preview"]
	path = bundle/markdown_preview
	url = git://github.com/robgleeson/vim-markdown-preview.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundle/textile"]
	path = bundle/textile
	url = git://github.com/timcharper/textile.vim.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/rspec"]
	path = bundle/rspec
	url = git://github.com/taq/vim-rspec.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/align"]
	path = bundle/align
	url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/rake"]
	path = bundle/rake
	url = git://github.com/tpope/vim-rake.git
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = git://github.com/vim-scripts/camelcasemotion.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git://github.com/vim-scripts/Command-T.git
[submodule "bundle/CSApprox"]
	path = bundle/CSApprox
	url = git://github.com/vim-scripts/CSApprox.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/vim-scripts/endwise.vim.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = git://github.com/vim-scripts/Gist.vim.git
[submodule "bundle/IndexedSearch"]
	path = bundle/IndexedSearch
	url = git://github.com/vim-scripts/IndexedSearch.git
[submodule "bundle/jsbeautify"]
	path = bundle/jsbeautify
	url = git://github.com/vim-scripts/jsbeautify.git
[submodule "bundle/Ruby-Single-Test"]
	path = bundle/Ruby-Single-Test
	url = git://github.com/vim-scripts/Ruby-Single-Test.git
[submodule "bundle/Syntastic"]
	path = bundle/Syntastic
	url = git://github.com/vim-scripts/Syntastic.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
